%a#logo{href: root_url }
  %img{src:asset_path('logo.png')}

%p#headline
  %u
    Pitchify
  helps your idea find a
  %u
    supporting
  and
  %u
    contributing
  crowd, who do
  %u
    respect
  your original ownership of the idea!

%p#contact
  Want to help? Please contact
  %a{href:'mailto:yuchenzhang@me.com'}
    the man behind.