%a#logo{href: root_url }
  %img{src:asset_path('logo.png')}

%p#headline
  %strong
    Pitchify
  helps your idea find a
  %strong
    supporting
  and
  %strong
    contributing
  crowd, who do
  %strong
    respect
  your original ownership of the idea!

%p#coming
  Coming soon...

%p#contact
  Want to help? Please join
  %a{href:'mailto:yuchenzhang@me.com'}
    the team behind.