.social
  =render 'social/twitter'
  =render 'social/facebook'
  
%a#logo{href: root_url }
  %img{src:asset_path('logo.png')}

%p#headline
  %strong.product
    Pitchify
  helps your idea find a
  %strong
    supporting
  audience, who can contribute with
  %strong
    expertise and guidance
  and meanwhile respect
  %strong
    your original ownership 
  of the idea!

%p#contact
  Want to help? Please 
  =render 'social/linkedin'
  or
  %a{href:'mailto:yuchenzhang@me.com'}
    email
