// Place all the styles related to the landing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background: white;
}
#logo{
	display: block;
	position:relative;
	left: 50%;
	margin: 10px auto auto -237px; 
	width: 0;
	img{
		width: 473px;
	}
}

#headline{
	display: block;
	position: relative;
	width: 900px;
	left: 50%;
	margin: 50px auto auto -450px; 
	font-family: arial;
	font-size: 60px;
	color: #898989; 
	text-align: center;
}

#contact{
	display: block;
	position: relative;
	width: 900px;
	left: 50%;
	margin: 50px auto auto -450px; 
	font-family: arial;
	font-size: 30px;
	font-style: italic;
	color: #898989; 
	text-align: center;
}

.product{
		color: #a25400;
}

